.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.info {
  background-color: black;
  text-decoration-color: blanchedalmond;
  float: right;
  clear: both;
}

nav {
  float: left;
  clear: both;
}

.search {
  float: right;
  clear: both;
}
